@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
}

::backdrop {
  background-color: rgb(0,0,0, 80%);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    /* background: var(--background); */
    /* color: var(--foreground); */
    /* font-family: Arial, Helvetica, sans-serif; */
}
